@import 'variables.scss';

//Default Reset & Define
:root{
    font-size: 16px;
}

*{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
//Default Outline Remove
input,a,button{
    &,
    &:hover,
    &:focus,
    &:active{
        outline: none !important;
        box-shadow: none !important;
    }
}
a{
    text-decoration: none; 
}

ul,ol{
    &:not(.list-style){
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
.container{
    width: 100%;
    max-width: 1216px;
    @include bp(xxl){
        max-width: 1400px;
    }
}
p{
    font-size: 1rem;
}

.note{
    font-size: 14px;
    line-height: 20px;
}
.form-control{
    padding: 11px 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    border-color: $light;
    &:focus{
        border-color: $primary;
    }
}
.btn{
    padding: 11px 16px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 6px;
    letter-spacing: -0.1px;
    @include transition(background-color ease 0.5s, border-color ease 0.5s, color ease 0.5s);

    &.btn-sm{
        padding: 8px 14px;
    }
    &.btn-lg{
        padding: 13px 21px;
    }

    &.btn-primary{
        background-color: $primary;
        border-color: $primary;
        color: $light;
        &:hover,&:active{
            background-color: darken($primary, 5%);
            border-color: darken($primary, 5%);
        }
    }
    &.btn-secondary{
        background-color: $secondary;
        border-color: $secondary;
        color: $light;
        &:hover,&:active{
            background-color: darken($secondary, 5%);
            border-color: darken($secondary, 5%);
        }
    }
}


// Style Starts 
.header-container{
    @include absolute($top:24px, $left:0, $zi:100);
    width: 100%;
    .container{
        display: flex;
        align-items: center;        
        .header-logo{
            display: block;
            width: 42px;
            margin-right: 42px;
            svg{
                display: block;
                width: 100%;
            }
        }
        .header-links-wrap{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header-nav-wrap{                
                ul{
                    display: inline-flex;
                    align-items: center;
                    li{
                        display: block;
                        margin-right: 32px;
                        a{
                            font-size: 1rem;
                            color: $light;
                            font-weight: 500;
                            line-height: 24px;
                            display: block;
                            position: relative;
                            &:before{
                                content: '';
                                @include absolute($bottom:-5px, $left:0, $zi:0);
                                @include transition(all ease 0.3s);
                                width: 0;
                                height: 2px;
                                background-color: $primary;
                            }
                            &:hover{
                                &:before{
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
            .header-buttons-wrap{
                .link{
                    color: $light;
                    margin-right: 10px;
                    &:hover{
                        background-color: rgba($secondary,20%);
                    }
                }
            }
        }
    }    
}
.home-intro-container{
    background-color: #111827;
    width: 100%;
    height: 100vh;
    min-height: 700px; //To fix it for Screen Sized 1349x657 
    padding-top: 100px;
    .container{
        position: relative;
        height: 100%;
        > .row{
            position: relative;
            height: 100%;
            .home-intro-info-wrap{
                .intro-hiring-link-wrap{
                    background-color: $dark;
                    border-radius: 14px;
                    padding: 4px 15px 4px 4px;
                    display: inline-flex;
                    align-items: center;
                    margin-bottom: 24px;
                    span{
                        font-size: 12px;
                        line-height: 20px;
                        font-weight: 500;
                        text-transform: uppercase;
                        letter-spacing: 0.5px;
                        color: $light;
                        background-color: $primary;
                        border-radius: 10px;
                        padding: 2px 12px;
                    }
                    a{
                        margin-left: 16px;
                        font-size: 14px;
                        line-height: 20px;
                        color: $light;
                        svg{
                            width: 6px;
                            height: auto;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 7px;
                            *{
                                fill: #6B7280;
                            }
                        }
                        &:hover{
                            svg *{fill: $light;}
                        }
                    }
                }
                h1{
                    font-size: 60px;
                    line-height: 60px;
                    font-weight: 800;
                    color: $light;
                    margin-bottom: 20px;
                    letter-spacing: -1px;
                    span{
                        color: $primary;
                    }
                }
                p{
                    font-size: 20px;
                    line-height: 28px;
                    color: $grey;
                }
                .home-free-trial-form{
                    margin-top: 60px;
                    .form-group{
                        display: flex;
                        .btn{
                            white-space: nowrap;
                            margin-left: 12px;                            
                        }                        
                    }
                    .note{
                        margin-top: 16px;
                        color: $grey;
                        a{
                            color: $light;                            
                            &:hover{
                                text-decoration: underline;
                            }
                        }
                    }
                    
                }
            }
            .home-graphic-info-wrap{
                img{
                    max-width: 100%;
                }
            }
        }
    }
}