:root {
  font-size: 16px;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  --bs-gutter-x: 32px;
}

input, input:hover, input:focus, input:active, a, a:hover, a:focus, a:active, button, button:hover, button:focus, button:active {
  outline: none !important;
  box-shadow: none !important;
}

a {
  text-decoration: none;
}

ul:not(.list-style), ol:not(.list-style) {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1216px;
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
  }
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
}

.note {
  font-size: 14px;
  line-height: 20px;
}

.form-control {
  padding: 11px 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
  border-color: #fff;
}
.form-control:focus {
  border-color: #6366F1;
}

.btn {
  padding: 11px 16px;
  font-size: 16px;
  line-height: 24px;
  border-radius: 6px;
  letter-spacing: -0.1px;
  -webkit-transition: background-color ease 0.5s, border-color ease 0.5s, color ease 0.5s;
  -moz-transition: background-color ease 0.5s, border-color ease 0.5s, color ease 0.5s;
  -ms-transition: background-color ease 0.5s, border-color ease 0.5s, color ease 0.5s;
  -o-transition: background-color ease 0.5s, border-color ease 0.5s, color ease 0.5s;
  transition: background-color ease 0.5s, border-color ease 0.5s, color ease 0.5s;
}
.btn.btn-sm {
  padding: 8px 14px;
}
.btn.btn-lg {
  padding: 13px 21px;
}
.btn.btn-primary {
  background-color: #6366F1;
  border-color: #6366F1;
  color: #fff;
}
.btn.btn-primary:hover, .btn.btn-primary:active {
  background-color: #4c4fef;
  border-color: #4c4fef;
}
.btn.btn-secondary {
  background-color: #4B5563;
  border-color: #4B5563;
  color: #fff;
}
.btn.btn-secondary:hover, .btn.btn-secondary:active {
  background-color: #404954;
  border-color: #404954;
}
.btn.btn-light {
  background-color: #fff;
  border-color: #fff;
  color: #6366F1;
}
.btn.btn-light:hover, .btn.btn-light:active {
  background-color: #e6e6e6;
  border-color: #e6e6e6;
}

.sPad-t {
  padding-top: 64px;
}

.sPad-b {
  padding-bottom: 64px;
}

.sPad-t-sm {
  padding-top: 48px;
}

.sPad-b-sm {
  padding-bottom: 48px;
}

.header-container {
  position: absolute;
  top: 24px;
  left: 0;
  z-index: 100;
  width: 100%;
}
.header-container .container {
  display: flex;
  align-items: center;
}
.header-container .container .header-logo {
  display: block;
  width: 42px;
  margin-right: 42px;
}
.header-container .container .header-logo svg {
  display: block;
  width: 100%;
}
.header-container .container .header-links-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .container .header-links-wrap .header-nav-wrap ul {
  display: inline-flex;
  align-items: center;
}
.header-container .container .header-links-wrap .header-nav-wrap ul li {
  display: block;
  margin-right: 32px;
}
.header-container .container .header-links-wrap .header-nav-wrap ul li a {
  font-size: 1rem;
  color: #fff;
  font-weight: 500;
  line-height: 24px;
  display: block;
  position: relative;
}
.header-container .container .header-links-wrap .header-nav-wrap ul li a:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 0;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  width: 0;
  height: 2px;
  background-color: #6366F1;
}
.header-container .container .header-links-wrap .header-nav-wrap ul li a:hover:before {
  width: 100%;
}
.header-container .container .header-links-wrap .header-buttons-wrap .link {
  color: #fff;
  margin-right: 10px;
}
.header-container .container .header-links-wrap .header-buttons-wrap .link:hover {
  background-color: rgba(75, 85, 99, 0.2);
}

.home-intro-container {
  background-color: #111827;
  width: 100%;
  height: 100vh;
  min-height: 700px;
  padding-top: 100px;
}
.home-intro-container .container {
  position: relative;
  height: 100%;
}
.home-intro-container .container > .row {
  position: relative;
  height: 100%;
}
.home-intro-container .container > .row .home-intro-info-wrap .intro-hiring-link-wrap {
  background-color: #000;
  border-radius: 14px;
  padding: 4px 15px 4px 4px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}
.home-intro-container .container > .row .home-intro-info-wrap .intro-hiring-link-wrap span {
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  background-color: #6366F1;
  border-radius: 10px;
  padding: 2px 12px;
}
.home-intro-container .container > .row .home-intro-info-wrap .intro-hiring-link-wrap a {
  margin-left: 16px;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
}
.home-intro-container .container > .row .home-intro-info-wrap .intro-hiring-link-wrap a svg {
  width: 6px;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-left: 7px;
}
.home-intro-container .container > .row .home-intro-info-wrap .intro-hiring-link-wrap a svg * {
  fill: #6B7280;
}
.home-intro-container .container > .row .home-intro-info-wrap .intro-hiring-link-wrap a:hover svg * {
  fill: #fff;
}
.home-intro-container .container > .row .home-intro-info-wrap h1 {
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
  color: #fff;
  margin-bottom: 20px;
  letter-spacing: -1px;
}
.home-intro-container .container > .row .home-intro-info-wrap h1 span {
  color: #6366F1;
}
.home-intro-container .container > .row .home-intro-info-wrap p {
  font-size: 20px;
  line-height: 28px;
  color: #D1D5DB;
}
.home-intro-container .container > .row .home-intro-info-wrap .home-free-trial-form {
  margin-top: 60px;
}
.home-intro-container .container > .row .home-intro-info-wrap .home-free-trial-form .form-group {
  display: flex;
}
.home-intro-container .container > .row .home-intro-info-wrap .home-free-trial-form .form-group .btn {
  white-space: nowrap;
  margin-left: 12px;
}
.home-intro-container .container > .row .home-intro-info-wrap .home-free-trial-form .note {
  margin-top: 16px;
  color: #D1D5DB;
}
.home-intro-container .container > .row .home-intro-info-wrap .home-free-trial-form .note a {
  color: #fff;
}
.home-intro-container .container > .row .home-intro-info-wrap .home-free-trial-form .note a:hover {
  text-decoration: underline;
}
.home-intro-container .container > .row .home-graphic-info-wrap img {
  max-width: 100%;
}

.section-title {
  font-weight: 800;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  color: #111827;
}

.home-feature-container {
  background-color: #F9FAFB;
  overflow: hidden;
}
.home-feature-container .container {
  position: relative;
  z-index: 1;
}
.home-feature-container .container:before {
  content: "";
  width: 404px;
  height: 404px;
  position: absolute;
  bottom: -120px;
  left: -167px;
  z-index: -1;
  background: url("../images/dot-pattern.svg") center center no-repeat;
  background-size: 100% auto;
}
.home-feature-container .container .feature-blocks-wrap .row > div:nth-child(1), .home-feature-container .container .feature-blocks-wrap .row > div:nth-child(2) {
  margin-bottom: 40px;
}
.home-feature-container .container .feature-blocks-wrap .row > div .feature-icon {
  background-color: #6366F1;
  padding: 15px;
  border-radius: 6px;
  display: inline-block;
  margin-bottom: 15px;
}
.home-feature-container .container .feature-blocks-wrap .row > div .feature-icon svg {
  width: 18px;
  height: auto;
  display: block;
}
.home-feature-container .container .feature-blocks-wrap .row > div h6 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #111827;
}
.home-feature-container .container .feature-blocks-wrap .row > div p {
  color: #6B7280;
}

.home-trial-container .container {
  background-color: #4338CA;
  padding-right: 0;
  padding-top: 57px;
  padding-left: 80px;
  border-radius: 8px;
}
.home-trial-container .container .row .home-trial-info-wrap {
  padding-top: 23px;
}
@media (min-width: 1400px) {
  .home-trial-container .container .row .home-trial-info-wrap {
    padding-right: 110px;
  }
}
.home-trial-container .container .row .home-trial-info-wrap h2 {
  color: #fff;
  margin-bottom: 16px;
  letter-spacing: 0;
}
.home-trial-container .container .row .home-trial-info-wrap p {
  font-size: 18px;
  line-height: 24px;
  color: #C7D2FE;
}
.home-trial-container .container .row .home-trial-info-wrap .btn {
  margin-top: 32px;
}
.home-trial-container .container .row .home-trial-img-wrap img {
  float: right;
  max-width: 100%;
  border-top-left-radius: 6px;
}
